<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/addcourseform">
        <button type="submit" name="btnadd" id="add" value="add">Add new course</button>
    </form>
    <table border="2">
        <tr><th>course id</th>
            <th>course name</th>
            <th>Fees</th>
            <th>Duration</th>
            <th>action</th>
        </tr>
        <% for(var i=0;i<corsdata.length;i++){%>
            <tr>
                <td><%=corsdata[i].cid%></td>
                <td><%=corsdata[i].cname%></td>
                <td><%=corsdata[i].fees%></td>
                <td><%=corsdata[i].duration%></td>
                <td>
                    <a href="deletecourse/<%=corsdata[i].cid%>">delete</a>/
                    <a href="editcourse/<%=corsdata[i].cid%>">edit</a>
                </td>
            </tr>
        <%}%>
    </table>
</body>
</html>